<!DOCTYPE html>
<html lang="en">
<head>
  <title>Healthcare system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
	body {margin: 1;}
	
	ul.topnav {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: rgb(241, 45, 160);
	}
	
	ul.topnav li {float: left;}
	
	ul.topnav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	} 
    ul.topnav li.right {float: right;}
  ul.topnav li.right,
} 
	</style>
</head>
<body style="color: white;background-image: linear-gradient(to bottom , rgb(240, 6, 185), rgb(158, 6, 75));"">
	<ul class="topnav">
		<li><a class="active" href="file:///D:/minor/templates/Index.html">Home</a></li>
		<li><a  href="file:///D:/minor/templates/about.html">About</a></li>
		<li><a href="file:///D:/minor/templates/parkinson.html">Prediction</a></li>
		<li><a href="#disease">Consult doctor</a></li>
		<li class="right"><a href="file:///D:/minor/templates/contact.html">Contact</a></li>
	  </ul>
	  


	<!--================ End Header Menu Area =================-->

                <div class="banner_content text-center">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">
            <center>
            <img src="https://images.shiksha.com/mediadata/images/listingGoogle/listingLocationdraft142707.jpg" width="1000" height="300"></center>
            <br><br><br><br><br><div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Himachal,India</h6>
                            <p>JUIT,Sholan</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
							
							<h6><a href="tel:+919523108268">+919523108268</a></h6>
							<h6><a href="tel:+918529784748">+918529784748</a></h6>
							<p>Mon to Fri </p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
							<h6><a href="mailto:adarshkumar1505@gmail.com">adarshkumar1505@gmail.com</a></h6>
							<h6><a href="mailto:jarial@gmail.com">jarial@gmail.com</a></h6>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="#" method="post" id="contactForm"
                        novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="primary-btn text-uppercase" style="color: black;">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  
</body>

</html>